{% extends "main.twig" %}

{% block content %}

{% if prev %}
<div id='prev'><a href='http://megatokyo.tw/strip/{{prev.id}}' rel='prev'>←上一篇</a></div>
{% endif %}

{% if next %}
<div id='next'><a href='http://megatokyo.tw/strip/{{next.id}}' rel='prev'>下一篇→</a></div>
{% endif %}

[{{strip.id}}] {{strip.title}}<br>
<img src='{{strip.img}}' title='[{{strip.id}}] {{strip.title}}, {{strip.date}}' alt='[{{strip.id}}] {{strip.title}}, {{strip.date}}'>
<div id='comment'>{{strip.comment|raw}}</div>
<a href='http://megatokyo.com/strip/{{strip.id}}'>原文連結</a>

{% endblock %}